<div th:replace="parts/common::top"></div>


<div th:fragment = "nav"> 
	<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/library">Home Library</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="nav-link" href="/library/redcon">Home</a></li>
					<a th:if="${#authentication.name} !=anonymousUser">
					<a th:if="${#authentication.getPrincipal().getPerson().getRole().equals('ROLE_ADMIN')}">
					<li class="nav-item"><a class="nav-link" href="/people">People</a></li>
					</a>
					<a th:if="${#authentication.getPrincipal().getPerson().getRole() !=('ROLE_ADMIN')}">
					<li class="nav-item"><a class="nav-link" href="/books">Books</a></li>
					</a>
					<a th:if="${#authentication.getPrincipal().getPerson().getRole().equals('ROLE_USER')}">
					<li class="nav-item"><a class="nav-link" href="/info">I read</a></li>
					<li class="nav-item"><a class="nav-link" href="/info/readed">Readed book</a></li>
					</a>
					</a>
					
					
				</ul>

				<div th:if="${#authentication.name} !=anonymousUser"><a th:text="${#authentication.name}"></a></div>

				<div th:if="${#authentication.name} !=anonymousUser"><a th:replace="parts/common::logout">logout</a></div>

			</div>
		</div>
	</nav>
</div>



<div th:replace="parts/common::down"></div>

<a th:text="${#authentication.getPrincipal().getPerson().getRole()}">user</a>

