<!DOCTYPE html>
<html lang=en xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content= "text/html; charset= UTF-8"/>
<title>Book</title>
</head>
<body>
<a href="/info">Список читаемых книг</a>
<br/>
<h2>Информация</h2>

	<p th:text="${oneInfo.getReadBook().getTitle()}">Value</p> 
	<p th:text="${oneInfo.getReadBook().getAuthor()}">Value</p> 
	<p th:text="${oneInfo.getCurentPage()}">Value</p> 
	<p th:text="${oneInfo.isRead()}">Value</p> 
	<p th:text="${oneInfo.getStartReading()}">Value</p> 
	<p th:text="${oneInfo.getEndReading()}">Value</p> 
	<br/>
	<hr/>
	
	<form th:method="PATCH"
		th:action="@{/info/{id}/set_page(id=${oneInfo.getId()})}"
		th:object="${oneInfo}">
		<label for="curent_page">Введите номер последней прочитаной страницы</label> 
		<input type="text"  id="curentPage" name = "curent_page"/> 
		<br/> 
		
		<input type="submit" value="подтвердить" />

	</form>
	
	<br/> 
	<form th:method="PATCH"
		th:action="@{/info/{id}/set_readed(id=${oneInfo.getId()})}">
		<input type="submit" value="Пометить книгу как прочитаную" />

	</form>
	
	
	
	<br/>
	<form th:action="@{/logout}" th:method="POST">
<input type="submit" value="выйти"/>
</form>
	
	
	
	
	

</body>
</html>