
<div th:replace="parts/common::top"></div>

<div class="container mt-5">
	<form th:method="POST" th:action="@{/books/search}">
		<form class="form-row">
 		<div class="form-group col-md-6">
		<label for="query" ></label> <input type="text"
			id="query" name="query"  placeholder="Enter the book title"/> 
			<button class="btn btn-primary ml-2" type="submit" >Search</button>
			</div>
			</form>
			
	</form>
	<div th:if="${books}">
		<div th:if="${books.isEmpty()}">
			<span>Books not find</span>
		</div>
		<div th:each="book : ${books}">
			<a th:href="@{/books/{id}(id=${book.getId()})}"
				th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getLanguage()}">book</a>
		</div>
	</div>

</div>
<div th:replace="parts/common::down"></div>