<!DOCTYPE html>
<html lang=en xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All people</title>
</head>
<body>

<br/>
	<h1>Список пользователей</h1>
	<br>

	<div th:each="person : ${people}">
		<a th:href="@{/people/{id}(id=${person.getId()})}"
			th:text="${person.getUserName() + ', ' + person.getRole()}">user</a>
	</div>
	<br />
	<hr />
	<a href="/people/new">добавить новаго библиотекаря</a>


<br/>
<form th:action="@{/logout}" th:method="POST">
<input type="submit" value="выйти"/>
</form>

</body>
</html>